[Unit]
Description=Deassert Power Good Status
Conflicts=assert-power-good.service
After=assert-power-good.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/phosphor-gpio-monitor/deassert-power-good

SyslogIdentifier=deassert-power-good
